@charset "UTF-8";


	/***
	  Common Bar Styles
	***/
	.common-bar{
		background: #c6cdd4;
    padding: 10px 60px;
		color: #45474a;
	}


	.status-created,
	.status-submitted,
	.status-published {
		cursor: default;
	}





	/******************
      Case Study styles
  ***/

	a.casestudy-tooltip{
		color: #135693;
		font-size: 18px; /* compare to #sidebar > > > label  */
	}

	h1.page-header{
		color: #135693; /* navy */
		font-size: 32px;
		margin: 0px;
		border-bottom: 4px solid #FF6B26;
		padding-bottom: 6px;
	}

	h2.callout-title{
		font-size: 18px;
		display:inline;
	}


	#sidebar{
		padding-right: 25px;
	}

	#narrative{
		padding-left: 25px;
	}

	#sidebar > .well {
		margin-top: 40px;
		background-color: #6BC7FF;
		border: #6BC7FF;
	}

	#sidebar > div > div > textarea{
		background: #efefef;
	}


	#narrative > div >label{
		font-size: 20px;
		color: #135693;
	}


	#sidebar > div > div > label{
		font-size: 20px;
		color: #ffffff;
	}


/**************************
   Review
 *************************/
	.review-section{
		margin-top:30px;
	}

	h1.review-header{
		margin-top: -20px;
	}

	h2.section-header{
		color: #135693; /* navy */
		font-size: 28px;
		margin: 0px;
		margin-left: 14px; /* align it with the tool tips */
		border-bottom: 4px solid #FF6B26;
		padding-bottom: 6px;
	}

	a.section-header,
	a.section-header:hover,
	a.section-header:focus,
	a.section-header:active {
		text-decoration: none;
	}


 .review-tooltip-content{
	 /*
		background: white;
		padding-top: 15px;
		padding-bottom: 5px;
		*/
		margin-top: 10px;
 }


	  @media (min-width: 1400px) {
			a.casestudy-tooltip{
				font-size: 22px; /* compare to #sidebar > > > label  */
			}

			h1.page-header{
				font-size: 38px;
			}
			h2.callout-title{
				font-size: 24px;
			}

			#sidebar{
				padding-right: 50px;
			}

			#narrative{
				padding-left: 50px;
			}
		}



	.note-editor.note-frame {
	    /* border: 1px solid #a9a9a9; */
	}

	.note-toolbar{
		/* background-color: #a9a9a9 !important; */
	}

	.note-btn{

	}

	.note-editable {
		/* background-color: #ffffff !important; */
	}
