@charset "UTF-8";

/* palate
 navy:				#0037A6  -- but use: #135693
 medium blue: #2699FF
 sky blue:		#6BC7FF
 sunset:			#FF3821
 noon:				#FF6B26
 dawn:				#F79917
 */


.@media (min-width: 768px) {
  .container-wide {
    min-width: 750px;
    max-width: 86%; /* desired width */
  }
}
@media (min-width: 992px) {
  .container-wide {
    min-width: 970px;
    max-width: 86%; /* desired width */
  }
}
@media (min-width: 1200px) {
	.container-wide {
	    min-width: 1170px;
	    max-width: 84%; /* desired width */
	}
}

@media (min-width: 1400px) {
	.container-wide {
	    min-width: 1370px;
	    max-width: 84%; /* desired width */
	  }
}




.btn, .form-control {
	border-radius: 0;
}

body, h1, h2, h3, h4, h5,
.btn-urc, .btn-urc-alt, .btn-urc-gray{
		font-family: 'Arial', sans-serif;
}

body{
  color: #000000;
}

h2{
  font-weight: bold;
}


.main{
	background: #ffffff;
	padding: 30px;
}


.form-control::-webkit-input-placeholder { color: #474747; }
.form-control:-moz-placeholder { color: #474747; }
.form-control::-moz-placeholder { color: #474747; }
.form-control:-ms-input-placeholder { color: #474747;}



  .btn-urc,
	.btn-urc-alt,
	.btn-urc-gray{
    background: #135693;
    color: #ffffff;
  	margin-bottom: 8px;
  	border: 2px solid #135693;

    display: block;
    width: 100%;

		font-size: 18pt;
	}

	.btn-urc:hover,
  .btn-urc:focus,
  .btn-urc:active
   {
		background: #2699FF !important;
    color: #ffffff !important;
		border: 2px solid #2699FF !important;
	}

	.btn-urc:hover,
	.btn-urc-gray:hover
	{
		transition: background 0.25s, border 0.25s;
	}


	.btn-urc-gray{
		background: #a9a9a9;
		border: 2px solid #a9a9a9;
	}

		.btn-urc-gray:hover,
	  .btn-urc-gray:focus,
	  .btn-urc-gray:active
	   {
			background: #8d8d8d !important;
	    color: #ffffff !important;
			border: 2px solid #8d8d8d;
		}


		.btn-jumbo{
		    font-size: 18pt;
		    padding: 20px;
		}


	.btn-link{
		color: #ffffff;
		text-decoration: none;
	}

	.btn-link:hover,
	.btn-link:active,
	.btn-link:focus{
		border-bottom: solid  2px #ffffff;
	}



.navbar{
	margin-bottom:0;
	padding: 5px 10px;
	border-bottom: 30px solid #014078 /*navy*/;
}

	.navbar-urc1{
	  padding-right: 30px;
	}
	#navbar-urc2{
	  background: #e5e1d9 /* beige */;
	  color: #000;
	  border: none;
	}

	#navbar-urc2 > .navbar-collapse > ul > li > a {
	  font-size: 20pt;
	  padding: 30px;
	}

	#navbar-urc2 > .navbar-collapse > ul > li > a.active,
	#navbar-urc2 > .navbar-collapse > ul > li > a:hover {
		background: #a9a9a9;
	}




  .register-bg{
    padding: 100px 80px;
    background-image: url('/img/register_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }





h2.page-header{
	color:
}



	/* case study styles */
	.tooltip{
		color: #FF6B26;
	}

	#sidebar{
		padding-right: 50px;
	}

	#narrative{
		padding-left: 50px;
	}

	#sidebar > .well {
		margin-top: 40px;
		background-color: #6BC7FF;
	}

	#sidebar > div > div > textarea{
		background: #efefef;
	}


	#narrative > div >label{
		font-size: 20px;
		color: #135693;
	}


	#sidebar > div > div > label{
		font-size: 20px;
		color: #ffffff;
	}
