
h1, h2, h3, h4{
  text-transform: none;
}

.template-bar{
  background: $primary-bg;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: $white;
  text-align: left;

  padding-top: 140px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

  min-height: 600px;
}

  .template-bar h1.title{

    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 26pt;
    text-transform: none;

    padding-top: 40px;
    padding-bottom: 10px;
  }

  .template-bar h2 {
    font-family: $font-family-sans-serif;
    font-weight: 600;
    font-size: 21pt;
    text-transform: none;
  }

  .template-icon{
    font-size: 30pt;
    margin-top: -8px;
  }


  .template-bar .description {
    padding-bottom: 40px;
    line-height: 1.3em;
  }

  .template-bar ul.quick-facts{
    padding-left: 0px;
  }

  .template-bar ul.quick-facts>li {
    list-style: none;
    line-height: 1.3em;
  }

  .quick-details{
    font-size: 18pt;
    font-weight: 600;
  }

#template-basic{

}


.nav-wrapper{
  min-height: 80px;
}

#section-bar{
  background: $secondary-bg;
  color: $secondary-text;
  border: none;
  padding: 10px 30px;
}

#section-bar .navbar-nav > li > a {
  color: $secondary-text;
  font-size: 16pt;
  padding: 12px;
}

#section-bar .navbar-nav > li > a.active {
  color: $accent2-text;
  background: $accent2-bg;
}

#section-bar .navbar-nav > li > a:hover {
  border-bottom: 3px solid $accent2-bg;
  padding-bottom: 9px;
}


  #section-bar.affix {
    position: fixed;
    top: 0px;
    z-index: 10;
  }


.section{
  margin-top: 40px;
  background: $white;
  color: $black;
  padding: 0px 0px; /* do padding in the sub-sections instead! */
  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;
}

.sub-section{
  padding: 0px 60px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.sub-section h2{
  margin-top: 0px;
}

.callout{
  border: solid 3px black;
  padding: 6px 12px;
  margin: 10px -15px;
}

  .callout h3{
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
  }

  .callout ul{
    padding-left: 30px;
  }

  .callout p{
    padding: 0 15px;
  }

#references ol{
  padding-left: 18px;
  color: gray;
}
